$blackPrimary: rgb(40,40,40);
$whitePrimary: rgb(255,255,255);
$sexRed: Red;
$sexGreen: MediumSpringGreen;
$sexOrange: Orange;
$sexBlue: DodgerBlue;
$sexYellow: Yellow;
$sexPurple: Fuchsia;

page-home {

    * {
        box-sizing: border-box;
    }

    ion-content {
        padding: 0!important;
        border: 1px dashed black;
        background-color: white !important;
        background-image: linear-gradient(#ffffff, #efefef) !important;
        background-image: linear-gradient(0deg, transparent 24%,
                            rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                            rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent),
                            linear-gradient(90deg, transparent 24%,
                            rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                            rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent) !important;
        background-size: 50px 50px !important;

        .scroll-content {
            overflow: auto;
        }
    }

    header {
        margin-top: 12px;

        .grid {
            padding: 0;
        }

        ion-grid ion-row ion-col .branding {
            h6 {
                font-family: 'Times New Roman', serif;
                font-size: 14px;
                vertical-align: middle;
                margin-bottom: 0;
                line-height: 0.75em;

                .title {
                    color: rgb(25,25,25);
                }

                .description, .site-link {
                    font-size: 10px;
                    color: rgb(25,25,25);

                    a:link, a:visited {
                        color: rgb(25,25,25);
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        border-bottom: 0.2px solid black;
                    }

                    a:hover, a:active {
                        text-decoration: none;
                        border-bottom: none;
                    }
                }
            }

            img {
                height: 18px;
                padding-bottom: 2px;
                vertical-align: middle;
                opacity: 0.87;
            }
        }

        ion-grid ion-row ion-col {
            clear: both;

            .turns-taken {
                float: right;
                width: 30%;
                text-align: right;
                font-size: 8px;
                // font-weight: bold;
                height: 100%;
                display: table;

                .valign-fix {
                    display: table-cell;
                    vertical-align: middle;
                }

                .white {
                    transform: scale(-1, -1);
                    text-align: left;
                    padding-top: 3px;
                }

                .black {
                    border-top: 0.1px dotted black;
                    padding-top: 3px;
                }

                .current-turn {
                    font-weight: bold;
                }
            }

            .turns-taken.one-player {
                .black {
                    border-top: none;
                }

                .white {
                    display: none;
                }
            }
            .controls-container {
                width: 70%;
                height: 100%;
                float: right;

                .control {
                    width: calc(100%/3);
                    height: 100%;
                    float: right;
                    background: none;
                }

                .control.autosave {
                    font-size: 12px;
                    text-transform: uppercase;
                    ion-icon {
                        margin-right: 5px;
                        vertical-align: middle;
                    }
                    visibility: hidden;
                }

                .control.autosave.working {
                    visibility: initial;
                }
            }
        }
    }

    .signals-container {
        clear: both;
        height: 70px;
        width: 350px;
        position: relative;
        margin: 0 auto;
    }

    .signal {
        color: rgb(25,25,25);
        font-size: 9px;

        iframe {
            overflow: hidden;
        }

        iframe:focus {
            outline: none !important;
        }
    }

    .piece.signal {
        visibility: hidden;
    }

    .signals-container.piece-active {
        .target.signal, .score.signal {
            visibility: hidden;
        }

        .piece.signal {
            visibility: initial;
        }

        .changing {
            background-color: rgba(0,0,0,0.15);
        }
    }

    .white.signals-container {
        margin-top: 20px;

        .signal {
            transform: scale(-1, -1);
            float: right;
        }
    }

    .white.signals-container.one-player {
        display: none;
    }

    .white .target.signal, .white .score.signal, .black .target.signal, .black .score.signal {
        height: 50px;
        width: 170px;
        position: relative;

        iframe {
            height: 50px;
            width: 170px;
        }
    }

    .white .target.signal, .white .score.signal {
        top: 20px;
    }

    .white .piece.signal, .black .piece.signal {
        height: 70px;
        width: 300px;
        position: absolute;
        top: 0px;

        iframe {
            height: 70px;
            width: 300px;
        }
    }

    .white .piece.signal {
        right: 0px;
    }

    .black.signals-container .signal {
        float: left;
    }

    .black .piece.signal {
        left: 0px;
    }

    .board-container {
        width: 250px;
        height: 250px;
        margin: 0px auto;

        .square-row {
            position: relative;
            height: calc(100%/8);
        }

        .square-row .piece-viewer {
            clear: both;
            position: absolute;
            top: 0;
            left: calc(100%/8);
            width: calc((100%/8)*6);
            height: 100%;
            z-index: 1;
            font-weight: bold;
            display: none;

            div {
                float: left;
                display: table;
                text-align: center;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            .color-aspect {
                width: calc(250px/8);
                height: 100%;
            }

            .color-aspect[aspectColor="red"] {
                background-color: $sexRed;
            }

            .color-aspect[aspectColor="green"] {
                background-color: $sexGreen;
            }

            .color-aspect[aspectColor="orange"] {
                background-color: $sexOrange;
            }

            .color-aspect[aspectColor="blue"] {
                background-color: $sexBlue;
            }

            .color-aspect[aspectColor="yellow"] {
                background-color: $sexYellow;
            }

            .color-aspect[aspectColor="purple"] {
                background-color: $sexPurple;
            }

            .color-aspect-amount {
                font-size: 10px;
                height: 100%;
                width: calc((250px/8)*5);
                padding: 0 7px;
            }
        }

        .piece-viewer.black {
            .color-aspect {
                color: $blackPrimary;
            }

            .color-aspect-amount {
                $borderColor: rgba(0,0,0,0.3);
                border-top: 1px dotted $borderColor;
                border-right: 1px dotted $borderColor;
                background-color: $blackPrimary;
                color: $whitePrimary;
            }
        }

        .piece-viewer.white {
            transform: scale(-1, -1);

            .color-aspect {
                color: $whitePrimary;
            }

            .color-aspect-amount {
                $borderColor: rgba(0,0,0,0.3);
                border-top: 1px dotted $borderColor;
                border-right: 1px dotted $borderColor;
                background-color: $whitePrimary;
                color: $blackPrimary;
            }
        }

        .piece-viewer.active {
            display: initial;
        }

        .square-row .square {
            width: calc(100% / 8);
            height: calc(100% / 8);
            float: left;
            position: relative;
            padding-bottom: calc(100% / 8);
        }

        .square-row .square .square-content {
            width: 100%;
            height: 100%;
            position: absolute;
            color: white;
            background-color: #fefefe;
            display: flex !important;
            align-content: center !important;
            align-items: center !important;
            justify-content: center;
            margin: auto;
            border: 1px solid rgb(245, 245, 245);

            button {
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            button[disabled] {
                opacity: 1;
            }
        }

        .square-row:nth-child(1), .square-row:nth-child(8) {
            .square .square-content {
                border: none;
            }

            button {
                border: 1px solid rgb(245, 245, 245);
            }
        }

        .square-row .blank-square .square-content {
            background-color: rgba(250,250,250,0.6);
        }

        .square-row:nth-child(1) .square:nth-child(1) .square-content {
            border-top: none;
            border-left: none;
        }

        .square-row:nth-child(1) .square:nth-child(8) .square-content {
            border-top: none;
            border-right: none;
        }

        .square-row:nth-child(8) .square:nth-child(1) .square-content {
            border-bottom: none;
            border-left: none;
        }

        .square-row:nth-child(8) .square:nth-child(8) .square-content {
            border-bottom: none;
            border-right: none;
        }

        .square-row .locator .square-content {
            // background-color: #ffffef;
            background-color: #eefefe;
            color: rgba(210,210,210,1);
            font-size: 1em;

            button {
                background-color: transparent;
                color: inherit;
                font-size: 1em;
            }
        }

        .color-picker-active.square .square-content {
            background-color: transparent;

            button {
                width: 80%;
                height: 80%;
                border-radius: 50%;
                // border: 1px dotted rgba(0,0,0,0.3);
                border: none;

                // hide text
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
            }

            button.selected {
                border: 1px groove $blackPrimary;
            }
        }

        .color-picker-active.square[pieceColor="red"] .square-content button {
            background-color: $sexRed;
        }

        .color-picker-active.square[pieceColor="green"] .square-content button {
            background-color: $sexGreen;
        }

        .color-picker-active.square[pieceColor="orange"] .square-content button {
            background-color: $sexOrange;
        }

        .color-picker-active.square[pieceColor="blue"] .square-content button {
            background-color: $sexBlue;
        }

        .color-picker-active.square[pieceColor="yellow"] .square-content button {
            background-color: $sexYellow;
        }

        .color-picker-active.square[pieceColor="purple"] .square-content button {
            background-color: $sexPurple;
        }

        .playable.square .square-content {
            background-color: rgba(0,0,0,0.1);

            .piece {
                width: 100%;
                height: 100%;

                .touch-area {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                .touch-area.possible-move {
                    border: 1px dashed Black;
                    // background-color: rgba(245,245,229,1);
                    border-radius: 50%;
                    width: 70%;
                    height: 70%;
                    top: 15%;
                    left: 15%;
                }

                .content-area {
                    border-radius: 50%;
                    width: 70%;
                    height: 70%;
                    margin-top: 15%;
                    margin-left: 15%;
                    overflow: hidden;
                    // transform: rotate(0deg);
                }

                .coloring {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    clear: both;
                }

                .player-color, .piece-color {
                    width: 50%;
                    height: 100%;
                    float: left;
                }

                .player-color .piece-selection, .piece-color .piece-selection {
                    border-radius: 50%;
                    width: 6px;
                    height: 6px;
                    margin-top: 70%;
                }
            }

            .piece.black-selection[pieceSide="black"] {
                .piece-color .piece-selection {
                    background-color: $blackPrimary;
                    border: 0.5px groove gray;
                    float: left;
                }
            }

            .piece.white-selection[pieceSide="black"] {
                .player-color .piece-selection {
                    background-color: $whitePrimary;
                    border: 0.5px groove gray;
                    float: right;
                }
            }

            .piece.black-selection[pieceSide="white"] {
                .player-color .piece-selection {
                    background-color: $blackPrimary;
                    border: 0.5px groove gray;
                    float: right;
                }
            }

            .piece.white-selection[pieceSide="white"] {
                .piece-color .piece-selection {
                    background-color: $whitePrimary;
                    border: 0.5px solid gray;
                    float: left;
                }
            }

            .piece[pieceSide] .content-area {
                border: 1px dashed Black;
            }

            .piece.disturbed {
                .content-area {
                    animation:flash 1s linear infinite;
                    @keyframes spin {
                        100% { transform:rotate(360deg); }
                    }
                    @keyframes flash {
                        0% {opacity: 0;}
                        25% {opacity: 0.5;}
                        50% {opacity: 1;}
                        100% {opacity: 0;}
                    }
                }
            }

            .piece[pieceSide="black"] {
                .content-area {
                    border: 2px dashed $whitePrimary;
                }

                .player-color {
                    background-color: $blackPrimary;
                    border-right: 0.5px dashed $whitePrimary;
                }

                .piece-color {
                    border-left: 0.5px dashed $whitePrimary;
                }
            }

            .piece[pieceSide="white"] {
                transform: scale(-1, -1);

                .content-area {
                    border: 2px dashed $blackPrimary;
                }

                .player-color {
                    background-color: $whitePrimary;
                    border-right: 0.5px dashed $blackPrimary;
                }

                .piece-color {
                    border-left: 0.5px dashed $blackPrimary;
                }
            }

            .piece.woke .content-area {
                border-style: solid;
                border-width: 2px;
            }

            .piece[pieceColor="black"] {
                .piece-color {
                    background-color: $blackPrimary;
                }
            }

            .piece[pieceColor="white"] {
                .piece-color {
                    background-color: $whitePrimary;
                }
            }

            .piece[pieceColor="red"] {
                .piece-color {
                    background-color: $sexRed;
                }
            }

            .piece[pieceColor="green"] {
                .piece-color {
                    background-color: $sexGreen;
                }
            }

            .piece[pieceColor="orange"] {
                .piece-color {
                    background-color: $sexOrange;
                }
            }

            .piece[pieceColor="blue"] {
                .piece-color {
                    background-color: $sexBlue;
                }
            }

            .piece[pieceColor="yellow"] {
                .piece-color {
                    background-color: $sexYellow;
                }
            }

            .piece[pieceColor="purple"] {
                .piece-color {
                    background-color: $sexPurple;
                }
            }
        }

        .square-row:nth-child(even) .playable.square:nth-child(even) .square-content {
            background-color: rgba(0,0,0,0.25);
        }

        .square-row:nth-child(odd) .playable.square:nth-child(odd) .square-content {
            background-color: rgba(0,0,0,0.25);
        }

        .square-row .white .square-content {
            transform: scale(-1, -1);
        }
    }
}
