page-home {

    * {
      box-sizing: border-box;
    }

    ion-content {
        padding: 0!important;
    }

    header {
        margin-top: 12px;

        .grid {
            padding: 0;
        }

        ion-grid ion-row ion-col .branding {
            h6 {
                font-family: 'Times New Roman', serif;
                font-size: 14px;
                vertical-align: middle;
                margin-bottom: 0;
                line-height: 0.75em;

                .title {
                    color: rgb(25,25,25);
                }

                .description, .site-link {
                    font-size: 10px;
                    color: rgb(25,25,25);

                    a:hover, a:active {
                        text-decoration: none;
                        border-bottom: none;
                    }

                    a:link, a:visited {
                        color: rgb(25,25,25);
                        text-decoration: underline;
                        text-decoration-style: dotted;
                        border-bottom: 0.2px solid black;
                    }
                }
            }

            img {
                height: 18px;
                padding-bottom: 2px;
                vertical-align: middle;
                opacity: 0.87;
            }
        }

        ion-grid ion-row ion-col {
            clear: both;

            .turns-taken {
                float: right;
                width: 30%;
                text-align: right;
                font-size: 9px;
                height: 100%;
                display: table;

                .valign-fix {
                    display: table-cell;
                    vertical-align: middle;
                }

                .white {
                    -moz-transform: scale(-1, -1);
                    -webkit-transform: scale(-1, -1);
                    -o-transform: scale(-1, -1);
                    -ms-transform: scale(-1, -1);
                    transform: scale(-1, -1);
                    text-align: left;
                    // display: none; // NOTE: Disable this for one-player mode
                }

                .black {
                    border-top: 0.2px solid black;
                }
            }
            .controls-container {
                width: 70%;
                height: 100%;
                float: right;

                .control {
                    width: calc(100%/3);
                    height: 100%;
                    float: right;
                }
            }
        }
    }

    .signals-container {
        clear: both;
        height: 70px;
        position: relative;
    }

    .signal {
        color: rgb(25,25,25);
        font-size: 9px;

        iframe {
            overflow: hidden;
        }

        iframe:focus {
            outline: none!important;
        }
    }

    .piece.signal {
        visibility: hidden;
    }

    .white.signals-container {
        margin-top: 20px;

        .signal {
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);
            float: right;
        }
    }

    .white.target.signal, .white.score.signal, .black.target.signal, .black.score.signal {
        height: 50px;
        width: 170px;
        position: relative;

        iframe {
            height: 50px;
            width: 170px;
        }
    }

    .white.target.signal, .white.score.signal {
        top: 20px;
    }

    .white.piece.signal, .black.piece.signal {
        height: 70px;
        width: 300px;
        position: absolute;
        top: 0px;

        iframe {
            height: 70px;
            width: 300px;
        }
    }

    .white.piece.signal {
        right: 0px;
    }

    .black.signals-container .signal {
        float: left;
    }

    .black.piece.signal {
        left: 0px;
    }

    .board-container {
        width: 250px;
        height: 250px;
        margin: 0px auto;

        .square-row {
            position: relative;
            height: calc(100%/8);
        }

        .square-row .piece-viewer {
            clear: both;
            position: absolute;
            top: 0;
            left: calc(100%/8);
            width: calc((100%/8)*6);
            height: 100%;
            z-index: 1;
            display: none;

            div {
                float: left;
                display: table;
                text-align: center;

                span {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            .piece-color {
                width: calc(250px/8);
                height: 100%;
            }

            .piece-color-amount {
                font-size: 10px;
                height: 100%;
                width: calc((250px/8)*5);
                padding: 0 7px;
            }
        }

        .piece-viewer.black {
            .piece-color {
                color: black;
                background-color: Tomato;
            }

            .piece-color-amount {
                background-color: black;
                color: white;
            }
        }

        .piece-viewer.white {
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);

            .piece-color {
                color: white;
                background-color: DodgerBlue;
            }

            .piece-color-amount {
                background-color: white;
                color: black;
            }
        }

        .square-row .square {
            width: calc(100% / 8);
            height: calc(100% / 8);
            float: left;
            position: relative;
            padding-bottom: calc(100% / 8);
        }

        .square-row .square .square-content {
            width: 100%;
            height: 100%;
            position: absolute;
            color: white;
            background-color: #fefefe;
            display: flex!important;
            align-content: center!important;
            align-items: center!important;
            justify-content: center;
            margin: auto;
            border: 1px solid rgb(245, 245, 245);

            button {
                background-color: transparent;
                box-shadow: none;
                border-radius: 0;
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            button[disabled] {
                opacity: 1;
            }
        }

        .square-row:nth-child(1), .square-row:nth-child(8) {
            .square .square-content {
                border: none;
            }

            button {
                border: 1px solid rgb(245, 245, 245);
            }
        }

        .square-row .blank-square .square-content {
            background-color: rgba(250,250,250,0.6);
        }

        .square-row:nth-child(1) .square:nth-child(1) .square-content {
            border-top: none;
            border-left: none;
        }

        .square-row:nth-child(1) .square:nth-child(8) .square-content {
            border-top: none;
            border-right: none;
        }

        .square-row:nth-child(8) .square:nth-child(1) .square-content {
            border-bottom: none;
            border-left: none;
        }

        .square-row:nth-child(8) .square:nth-child(8) .square-content {
            border-bottom: none;
            border-right: none;
        }

        .square-row .locator .square-content {
            // background-color: #ffffef;
            background-color: #eefefe;
            color: #dedede;
            // border: none;

            button {
                background-color: transparent;
                color: inherit;
            }
        }

        .square-row .A.color-picker .square-content {
            background-color: white;

            button {
                width: 80%;
                height: 80%;
                background-color: tomato;
                border-radius: 50%;
            }
        }

        .square-row .playable .square-content {
            background-color: rgba(0,0,0,0.1);

            button {
                border-radius: 50%;
                width: 80%;
                height: 80%;
                border-width: 0.5px;
                border-style: dashed;
                border-color: black;
                clear: both;

                .player-color, .piece-color {
                    width: 500%;
                    height: 100%;
                    float: right;
                }

                .player-color {
                    background-color: blue;
                }

                .piece-color {
                    background-color: gold;
                }
            }
        }

        .square-row:nth-child(even) .playable:nth-child(even) .square-content {
            background-color: rgba(0,0,0,0.25);
        }

        .square-row:nth-child(odd) .playable:nth-child(odd) .square-content {
            background-color: rgba(0,0,0,0.25);
        }

        .square-row .white .square-content {
            -moz-transform: scale(-1, -1);
            -webkit-transform: scale(-1, -1);
            -o-transform: scale(-1, -1);
            -ms-transform: scale(-1, -1);
            transform: scale(-1, -1);
        }
    }
}
