// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$blackPrimary: rgb(40,40,40);
$whitePrimary: rgb(255,255,255);
$sexRed: Red;
$sexGreen: MediumSpringGreen;
$sexOrange: Orange;
$sexBlue: DodgerBlue;
$sexYellow: Yellow;
$sexPurple: Fuchsia;

sex-app {
    ion-menu .scroll-content {
        overflow-y: auto;
    }

    ion-menu .menu-inner {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        width: 18em;
        border-right: 5px solid rgba(0,0,0,0.85);
        border-top: 1px dashed rgba(0,0,0,0.7);
        border-bottom: 1px dashed rgba(0,0,0,0.7);
        background-color: white !important;
        background-image: linear-gradient(#ffffff, #efefef) !important;
        background-image: linear-gradient(0deg, transparent 24%,
                            rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                            rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent),
                            linear-gradient(90deg, transparent 24%,
                            rgba(0, 0, 0, .03) 25%, rgba(0, 0, 0, .03) 26%, transparent 27%, transparent 74%,
                            rgba(0, 0, 0, .03) 75%, rgba(0, 0, 0, .03) 76%, transparent 77%, transparent) !important;
        background-size: 50px 50px !important;

        ion-content, ion-item, button {
            background-color: rgba(0,0,0,0) !important;
        }

        ion-toggle {
            zoom: 0.6 !important;
        }
    }

    ion-menu ion-content {
        margin-top: 12px;

        ion-list ion-item {
            height: 1em;

            button {
                padding: 10px;
            }

            ion-icon {
                vertical-align: text-bottom;
            }

            a:link, a:visited {
                color: black;
                text-decoration: underline;
                text-decoration-style: dotted;
                border-bottom: 0.2px solid black;
            }

            a:hover, a:active {
                border-bottom: none;
                text-decoration: none;
            }
        }

        .branding {
            float: right;
            text-align: right;

            h6 {
                font-family: 'Times New Roman', serif;
                font-size: 14px;
                vertical-align: middle;
                margin-bottom: 0;
                line-height: 0.75em;

                .title {
                    color: rgb(25,25,25);
                }

                .description, .site-link {
                    font-size: 10px;
                    color: rgb(25,25,25);
                }
            }

            img {
                height: 18px;
                padding-bottom: 2px;
                vertical-align: middle;
                opacity: 0.87;
            }
        }

        .menu-item-text {
            font-size: 14px;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        .menu-item-text.button-text {
            // text-decoration: underline;
            border-bottom: 0.2px solid black;
            // padding-bottom: 2px;
        }

        .heading {
            font-size: 16px;
        }

        .item-with-rules {
            clear: both;

            button:hover .menu-item-text, button:active .menu-item-text {
                border-bottom: none;
                text-decoration: none;
            }

            button:first-child {
                float: left;
                width: 80%;
                text-align: left;
                padding: 10px 0;

                ion-icon {
                    padding: 0 0.5em 0 0;
                }
            }

            button:nth-child(2) {
                float: right;
                padding-right: 0;
                width: 20%;

                ion-icon {
                    border-bottom: 0.98px dotted black;
                    padding-bottom: 3px;
                    transform: scale(0.7);
                }
            }

            button:nth-child(2):hover, button:nth-child(2):active {
                ion-icon {
                    border-color: rgba(0,0,0,0);
                }
            }
        }

        .intuition-logic-container {
            width: 100%;
            height: 100%;
            padding-left: 10px;
            font-family: 'Times New Roman', serif;

            .control {
                height: 100%;
            }

            .intuition-logic-selected {
                border-bottom: 1px dotted rgba(0,0,0,0.5);
                background-image: linear-gradient(#ffffff, rgb(240,240,240));
            }

            button[disabled] {
                opacity: 1.0;
            }

            span {
                margin: 0px 20px;
                opacity: 0.6;
            }
        }

        .num-player-icon, .intuition-logic-icon {
            font-weight: bold;
            margin-right: 0.5em;
        }

        .playing-with {
            ion-item:first-child {
                min-height: 1em !important;
                // height: 1em !important;
                margin-top: 1em;
                // text-decoration: underline;
                // text-decoration-style: dotted;
            }

            ion-item:nth-child(3) {
                min-height: 1.3em !important;

                p {
                    font-size: 8px;
                    text-align: right;
                }
            }

            ion-item:nth-child(4) {
                // min-height: 1em !important;
                clear: both;

                button {
                    border: 1px dashed $blackPrimary;
                    margin-left: 10px;
                    float: right;

                    ion-icon {
                        margin-right: 5px;
                    }
                }

                button:active, button:focus {
                    border-style: solid;
                }

                .save-ack {
                    float: right;
                    font-size:  10px;
                }
            }
        }

        ion-item.item-input {
            border-bottom: 1px dotted #dedede !important;
            margin-left: 1em !important;
            padding-right: 1em !important;
        }

        ion-item.item-input-has-focus, ion-item.input-has-focus {
            box-shadow: none !important;
            border-color: Black !important;
        }
    }
}

.alert-delete {
    color: Red !important;
}

ion-toast.sexapp-game {
    .toast-message, .toast-button {
        font-size: 12px;
    }
}

ion-toast.sexapp-game.white {
    transform: scale(-1,-1);
}

ion-toast.sexapp-share {
    .toast-container {
        background-color: White;
        border: 1px solid $blackPrimary;
    }

    .toast-message, .toast-button {
        color: $blackPrimary;
    }

    .toast-message {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
}
